:root{
    --light-primary-color: rgb(242, 236, 236);
    --light-secondary-color: rgb(13, 13, 13);
    --ligth-tertiary-color: rgb(235, 208, 7);
    --light-faded-task-color: rgb(106, 103, 103);

    --dark-primary-color: rgb(29, 28, 28);
    --dark-secondary-color: rgb(0, 0, 0);
    --dark-tertiary-color: rgb(235, 208, 7);
}


*{
    margin: 0;
    padding: 0;
}

html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
}
body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    max-width: 100%;
    gap: 10px;
    
}

h1{
    margin-top: 100px;
    margin-bottom: 20px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

form{
    position: relative;
    width: 100%;
    max-width: 500px;
    
}

.progress-bar{
    width: 80%;
    max-width:400px;
    height: 15px;
    background-color: var(--light-secondary-color);
    border-radius: 1000px;
    border: 2px solid var(--light-secondary-color);
    
    
}

.progress{
    background-color: var(--ligth-tertiary-color);
    width: 0;
    height: 15px;
    border-radius: 1000px;
    
}

.stat, .stat-phrase {
    font-weight: 400;
    font-size: medium;
}

#taskInput{
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background-color: var(--ligth-tertiary-color);
    color: var(--light-secondary-color);
    border: 2px solid var(--light-secondary-color);
    border-radius: 1000px;
    font: inherit;
    cursor: pointer;
}


#taskInput:focus{
    outline: none;
}

#addBtn{
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
    cursor: pointer;
}

#addBtn:active svg{
    fill: white;   
}

#taskList{
    width: 100%;
    max-width: 500px;
    
}

.task-item{
    box-sizing: border-box;
    background-color: var(--light-primary-color);
    margin-bottom: 10px;
    padding: 0 16px;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 100%;
    
}

.task-item-text{
    padding: 10px;
    padding-right: 0;
    flex-grow: 1;
    transition: 200ms ease;
    word-break: break-word;
}

.checkbox-icon{
    border: 2px solid var(--light-secondary-color);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    transition: 200ms ease;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]:checked ~ .checkbox-icon{
    background-color: var(--light-secondary-color);
}

input[type="checkbox"]:checked ~ .checkbox-icon svg{
    fill: var(--light-primary-color);
}

input[type="checkbox"]:checked ~ .task-item-text{
    text-decoration: line-through;
    color: var(--light-faded-task-color);
}

.del-button {
    padding: 3px;
    background: none;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.del-button:hover svg{
    fill: var(--ligth-tertiary-color)
}

@media(max-width: 500px){
    html{
        font-size: 20px;
    }

    h1{margin-top: 50px;
    font-size: 10vw;}
}